.ajax-image-container {
    text-align: center;
    margin: 1rem 0 2rem 0;
}

.ajax-image {
    width: 100%;
    max-width: 80%;      
    max-height: 350px;  
    height: auto;
    object-fit: contain;

}

/* Responsive */
@media (max-width: 992px) {
    .ajax-image {
        max-width: 85%;
    }
}

@media (max-width: 768px) {
    .ajax-image {
        max-width: 90%;
        max-height: 300px;
    }

    .generic-topics {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .ajax-image {
        max-width: 95%;
        max-height: 250px;
    }
}
