.xdebug-image-container {
    text-align: center;
    margin: 1rem 0 2rem 0;
}

.xdebug-image {
    width: 100%;
    max-width: 80%;
    max-height: 320px;
    height: auto;
    object-fit: contain;

}


/* Responsive */
@media (max-width: 992px) {
    .xdebug-image {
        max-width: 75%;
    }
}

@media (max-width: 768px) {
    
    .xdebug-image {
        max-width: 90%;
        max-height: 300px;
    }
    
    .xdebug-topics {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .xdebug-image {
        max-width: 95%;
        max-height: 250px;
    }
}

